@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
    
}
.container {
	display: flex;
	width: 100%;
	padding: 4% 2%;
	box-sizing: border-box;
	height: 60vh;
  }

body
{
    font-family: 'Roboto', sans-serif;
    width:800p;
    background-color: #e2f6ea;

}
a
{
    text-decoration: none;
}
.product-card {
    width: 380px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    margin: 50px auto;
    background: #fafafa;
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;

}

.product-tumb img {
    max-width: 300px;
    max-height: 100%;
}

.product-details {
    padding: 30px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #8f8484;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 5px;
    color: #000000;
    transition: 0.3s;
    font-size: 17px;
}

.product-links a:hover {
    color: #fbb72c;
}



.why-choose-section {
    padding: 300px; }
    .why-choose-section .img-wrap {
      position: relative;
      padding: 10px; }
      
      .why-choose-section .img-wrap img {
        border-radius: 20px;
         }
         
  
  .feature {
    margin-bottom: 30px; }
    .feature .icon {
      display: inline-block;
      position: relative;
      margin-bottom: 20px; }
      .feature .icon:before {
        content: "";
        width: 33px;
        height: 33px;
        position: absolute;
        background: rgba(59, 93, 80, 0.2);
        border-radius: 50%;
        right: -8px;
        bottom: 0; }
    .feature h3 {
      font-size: 14px;
      color: #2f2f2f; }
    .feature p {
      font-size: 14px;
      line-height: 22px;
      color: #6a6a6a; }
  


      
/*hero section*/



header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  
}

.h_upper {
  height: 100vh;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 20px;
  
  
}


.h_upper .content {
	
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  color: #bdeaaa;
  position:relative;
  text-align: center;
 
  
}

.h_upper .content h2 {
 
  font-size: 6rem;
  max-width: 600px;
  line-height: 70px;
  font-family: math;
  color: #bdeaaa;
 
 
  
}

.h_upper .content p {
  font-weight: 600;
  max-width: 600px;
  font-size: 1.5rem;
  margin-top: 15px;
  color: rgb(238, 236, 191);
  
}

.h_upper .content button {
  background: #dbd2d2;
  padding: 12px 30px;
  border: none;
  font-size: 1rem;
  border-radius: 6px;
  margin-top: 38px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.h_upper .content button:hover {
  color: #fff;
  background: #C06B3E;
}


@media (max-width: 768px) {
  header {
    padding: 10px;
  }

  .h_upper .content {
    text-align: center;
  }

  .h_upper .content :is(h2, p) {
    max-width: 100%;
  }

  .h_upper .content h2 {
    font-size: 2.3rem;
    line-height: 60px;
  }
  
  .h_upper .content button {
    padding: 9px 18px;
  }
}