:root{
    --bg-color :#f0f6e2;
    --second-bg-color: #86efdf;
    --text-color:#15300f;
    --main-color:rgb(7, 131, 119);

}
h2.heading_fe{
    text-align: center;
    font-size: 4.5rem;  
 }
h2.heading_fe{
        
        font-size: 3rem; 
}

.form-e {
    background-color: rgba(107, 124, 143, 0.5);
    padding: 2rem;
    box-shadow: var(--box-shodow);
    
}
.p-e{
font-weight: 600;
color: #211f1f;
}

/* ---contact ---- */
.contact_fe span{
    color:var(--main-color);
 }

 .contact_fe h2{
 margin-bottom: 3rem;
 }
.contact_fe{
    background-color: var(--bg-color); 
}


.contact_fe form{
    max-width: 30rem;
    max-height: 50rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
    padding-bottom: 100px;
    
}

.contact_fe form .input-box_fe{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}

.contact_fe form .input-box_fe input,
.contact_fe form textarea{
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    color:var(--text-color);
    background-color: rgba(218, 222, 243, 0.61);
    border-radius: .5rem;
    margin: .9rem 0;

}


.contact_fe form textarea{
    resize :none;

}
.btn_fe{
    margin-top: 1rem;
    padding: 1rem 3rem;
    cursor: pointer;
    display: block;
    text-align: center;
    background: rgb(160, 111, 83);
    border-radius: .4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    height: 50px;
    width: 100%;
    
    
}


.btn_fe:hover{
    box-shadow: none;
    background: rgb(7, 125, 60);
    color: black;
    font-weight: 700;
}
.input-box_fe lable{	
	font-size: 15px;
	font-weight: bold;
	color: #000;
}
.input{
	 width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    color:var(--text-color);
    background-color: rgba(218, 222, 243, 0.61);
    border-radius: .5rem;
    margin: .9rem 0;
}
